body{
    background-color: #dddd !important;
}




.container{
    padding-top: 100px;

  
}

.btn-1{
    background-color: green!important;
    color: white !important;
    width: 20%;


}
.log-in{
    padding: 10px;
    background-color:rgba(200, 200, 200, 0.2);
    text-align: center;
    height: 50px;
    color:  #3D3D66;
    border: 1px solid #F1EEEA;
    
}
a{
    text-decoration: none !important; 
}
.form-style{
    padding: 40px;
    background-color: white;
    box-shadow: 9px 5px 7px 10px rgb(0 0 0 / 54%);
}

.footer-style{
    background-color: rgb(167, 167, 167);
    height: 50px;
    margin-top: 40px;
    text-align: center;
    
} 
.text-sing-up{
    padding-top: 30px;
    padding-bottom: 20px;
}